body{
    background-color: #05020D;
    color: white;
    font-style: "poppins";
}

.everything{
    width: 80%;
    margin: auto;
}

#top{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    /* padding: 0 15px; */
    margin-top: 30px;
}

#top ul{
    display: flex;
    justify-content: space-evenly;
}

#top ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

#top li a img{
    height: 60px;
    width: 70px;
}

#top li a p{
    text-align: center;
}

.topp{
    text-align: center;
    margin-bottom: 40px;
}

.topp h1{
    font-size: 50px;
}

.topp h2{
    font-size: 50px;
}

.topp p{
    font-size: 20px;
    width: 80%;
    margin: auto;
}



.main{
    /* border: 1px solid red; */
    font-size: 20px;
    margin: auto;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 150px;
    text-align: center;
    align-items: center;
    width: 80%;
}

.main .writing{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.main .writing h2{
    color: #A47122;
}

.main .picture img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
}

.GOT{
    width: 80%;
    margin: auto;
    margin-top: 90px;
    /* border: 1px solid blue; */
    text-align: center;
    font-size: 30px;
}

.main2{
    /* border: 1px green solid; */
   display: flex;
   justify-content: center;
   height: 35vh;
   align-items: center;
   width: 70%;
   margin: auto;

}

.main2  .excellence{
    background-color: #1E1B26;
    margin-right: 200px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}


.main2  .excellence h2{
    color: blue;
    padding-bottom: 5px;
    border-bottom: 2px blue solid;
}

.main2 .innovative{
    background-color: #1E1B26;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.main2 .innovative h2{
    color: green;
    padding-bottom: 5px;
    border-bottom: 2px green solid;
}

.vision{
    /* border: 1px blue solid; */
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, #31A6DB, #111461);
}

.vision h2{
    padding-bottom: 1.5px;
    border-bottom: 2px white solid;
}

.admin{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    /* border: 1px green solid; */
}

.headd{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 30px;
}

.staff{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 250px;
    background-color: #1E1B26;
    border-radius: 10px;
    padding: 25px;
}

.administration{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1E1B26;
    border-radius: 10px;
    padding: 25px;
}

.staff h2{
    color: violet;
    border-bottom: 1px solid violet;
    padding-bottom: 1px;
}

.administration h2{
    color: aqua;
    border-bottom: 1px solid aqua;
    padding-bottom: 1px;
}
