body{
    background-color: #05020D;
}

#top{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    padding: 0 15px;
   
}

#top ul{
    display: flex;
    justify-content: space-evenly;
}

#top ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

#top li a img{
    height: 60px;
    width: 70px;
}

#top li a p{
    text-align: center;
}

.body{
    width: 60%;
    /* height: 100vh; */
    margin: auto;
    border: 1px solid red;
}

.body .top h1{
    color: white;
    border: 1px blue solid;
    text-align: center;
    margin-top: 30px;

}

.body .top h2{
    color: white;
    border: 1px blue solid;
    text-align: center;
}

.body .top p{
    color: white;
    border: 1px blue solid;
    text-align: center;
}

.us{
    color: white;
    display: flex;
    align-items: center;
}

.addproc{
    color: white;
    text-align: center;
}

.lb1{
    display: flex;
}

.list{
    color: blueviolet;
}