body{
    margin: 0;
    background-color: #05020D;
    color: white;
    /* border: 1px solid blue; */
}

#top{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    /* padding: 0 15px; */
    margin-top: 30px;
}

#top ul{
    display: flex;
    justify-content: space-evenly;
}

#top ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

#top li a img{
    height: 60px;
    width: 70px;
}

#top li a p{
    text-align: center;
}

.head{
    text-align: center;
}

.head h1{
    color: blue;
}

.head h2{
    color: blue;
}

.head .para{
    width: 40%;
    margin: auto;
    text-align: center;
}

.head .para1{
    width: 23%;
    margin: auto;
}

.Over{
    text-align: center;
    color: blue;
}

.des{
    text-align: center;
    width: 40%;
    margin: auto;
}

.grid1{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap:20px;
}

.grad{
    display: flex;
}

.grid1 .b{
    color: blue;
}

.phd .a{
    color: #05020D;
}

.flexy{
    justify-content: center;
    display: flex;
    height: 47vh;
    /* border: 1px green solid; */
}

.flexy h2{
    text-align: center;
    color: blue;
    justify-content: space-around;
}

.entire{
    width: 25%;
    /* margin: auto; */
    margin-left: 950px;
}

.entire a{
   padding: 20px;
   background-color: blue;
   border-radius: 10px;
   color: white;
   text-decoration: none;

}


.wripic{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wripic .wri h2{
    color: blue;
}

.wri{
    width: 30%;
    list-style-type: none;
}

.wripic .wri .aa{
    color: #05020D;
}

.wri ul{
    /* width: 30%; */
    list-style-type: none;
}

.pp{
    width: 70%;
}

.pic img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
}

.stud{
    color: blue;
    text-align: center;
}

.tests{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.tests div{
    padding: 30px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
}

.testi1{
    background-image:linear-gradient(to right, #6D2DD3, #300559) ;
}
.testi2{
    background-image:linear-gradient(to right, #309ED5, #0E0B59);
}
.testi3{
    background-image: linear-gradient(to right, #E68B33, #632B08);
}

.para1{
    margin-bottom: 60px;
}


.head .appl{
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 200px;
    width: 7%;
    margin: auto;
}

.head a{
    text-decoration: none;
    color: white;
}

.head p{
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}